*, ::after,::before {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

body{
  padding: 0;
  margin: 0;
  background-color: black;
  color: grey;
}

.calculator-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: minmax(120px auto) repeat(5 ,100px);
}

.calculator-grid > button{
  cursor: pointer;
  font-size: 2em;
  border: 16px solid black;
  border-radius: 100px;
  padding: 16px 10px 16px 10px;
  outline: none;
  background-color: gray;
}

.calculator-grid > button:hover{
 background-color: aliceblue;
}

.span-two{
  grid-column: span 2;
  background-color: orangered;
}

.output{
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand{
  color: rgb(224, 214, 214);
  font-size: 1.5em;
}

.output .current-operand{
  color: white;
  font-size: 1.5em;
}
